{% extends 'bootstrap/base.html' %}

{% block styles%} 
{{ super() }}
    <link rel="stylesheet"  href="{{url_for('static',filename='css/style.css')}}"> 
    <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

{% endblock %}
    <!-- Navbar block -->
    {% block navbar %} {% include 'navbar.html' %} {% endblock %}
